@charset "utf-8";

/*页面主体*/
.css_home_link {
    height: 66px;
    line-height: 66px;
}

.css_home_link .wanjia-link{
    display: block;
    float: left;
    width: 109px;
    height: 25px;
    margin-top: 20px;
    background: url("../../../images/pc/login/wanjia-logo.png") center no-repeat;
    background-size: 100%;
}

.css_home_link h1{
  float: left;
  margin-left: 10px;
  font-size: 20px;
}

.way-tab {
  border-bottom: #ebebeb 2px solid;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 16px;
  font-size: 16px;
}

.way-tab li{
  width: 190px;
  display: inline-block;
  height: 44px;
}

.way-tab li em{
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background: url("../../../images/pc/login/forget_input_icon.png") center -162px no-repeat;
  margin-right: 12px;
}

.way-tab li div{
  width: 106px;
  margin: 0 auto;
  border-bottom: #ebebeb 2px solid;
  height: 44px;
  line-height: 44px;
  text-align: left;
}

.way-tab li.tab-current div{
  border-bottom: #ff9913 2px solid;
}

/*登录部分*/
.css_get_pwd_main {
  width: 380px;
  margin: 34px auto 0;
  text-align: center;
}

.validation_summary{
  font-size: 12px;
  width: 100%;
  height: 22px;
  line-height: 22px;
  text-align: left;
  margin-bottom: 12px;
  margin-top: -36px;
  border: 1px solid;
}

.validation_summary em{
  width: 16px;
  height: 22px;
  background: url("../../../images/pc/login/validation_icon.png") no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
}

.validation_summary.success{
  color: #76a91d;
  border-color: #76a91d;
  background-color: #f9fff0;
}

.validation_summary.success em{
  background-position: -26px 2px;
}

.validation_summary.error{
  color: #ef5555;
  border-color: #ef5555;
  background-color: #ffebeb;
}
.validation_summary.error em{
  background-position: -1px 2px;
}

.css_get_pwd_main li{
  position: relative;
  margin-bottom: 16px;
}

.css_get_pwd_main .input_icon{
  width: 30px;
  height: 30px;
  background: url("../../../images/pc/login/forget_input_icon.png") no-repeat center 3px;
  position: absolute;
  left: 15px;
  top: 7px;
}

.css_get_pwd_main .input_icon.pwd_icon{
  background-position: center -63px;
}

.css_get_pwd_main .input_icon.pwd_confirm_icon{
  background-position: center -98px;
}

.css_get_pwd_main .input_icon.yzm_icon{
  background-position: center -27px;
}
.css_get_pwd_main .input_icon.captcha_icon{
  background-position: center -129px;
}

.css_get_pwd_main input[type="text"]{
  width: 100%;
  height: 44px;
  border: #ddd 1px solid;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  padding-left: 65px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 44px;
}

.css_get_pwd_main input[type="password"]{
  width: 100%;
  height: 44px;
  border: #ddd 1px solid;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  padding-left: 65px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 44px;
}

.css_get_pwd_main input:focus{
  box-shadow: 0px 0px 1px 1px #ff9913;
}

.css_get_pwd_main ul li em{
    position: absolute;
    width: 16px;
    height: 22px;
    right: 10px;
    top: 11px;
    background: url("../../../images/pc/login/validation_icon.png") no-repeat;
}

.css_get_pwd_main .valid.success{
    background-position: -26px center;
}

.css_get_pwd_main .valid.fail{
    background-position: -1px center;
}

.css_get_pwd_main .dynamic_code{
  text-align: left;
}

.css_get_pwd_main .dynamic_code input{
  width: 68%;
}

.send-code{
  width: 110px;
  height: 46px;
  display: inline-block;
  border: 0;
  border-radius: 5px;
  line-height: 46px;
  color: #336fb3;
  cursor: pointer;
  background-color: #d3e7f5;
  text-align: center;
  vertical-align: middle;
  float: right;
}

.css_get_pwd_main input::-webkit-input-placeholder{
  font-size: 14px;
  color: #818181;
}

.css_get_pwd_main input:-moz-placeholder{
  font-size: 14px;
  color: #818181;
}

.css_get_pwd_main input:-moz-placeholder{
  font-size: 14px;
  color: #818181;
}

.css_get_pwd_main input:-ms-input-placeholder{
  font-size: 14px;
  color: #818181;
}

.css_get_pwd_main .captcha{
  position: absolute;
  right: 10px;
  width: 110px;
  height: 30px;
  top: 8px;
  border: #ddd 1px solid;
  box-sizing: border-box;
  overflow: hidden;
}

.css_get_pwd_main .captcha img{
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.read {
    font-size: 12px;
}

.nextBtn {
    width: 100%;
    line-height: 52px;
    margin: 0;
    padding: 0;
    background-color: #ff9913;
    font-size: 22px;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.nextBtn:hover {
    background-color: #f4910e;
}

.read .agree {
    margin-right: 15px;
}

.read a{
    color: #2273c9;
}

.switch_clinic {
    margin-top: 40px;
    font-size: 12px;
}

.switch_clinic a{
    color: #2273c9;
}